In [1]:
import pandas as pd

In [2]:
import numpy as np

In [23]:
pd.set_option('display.max_columns', None)

In [5]:
df = pd.read_csv('../pdp_filter_Novartis_edcast-574_EvaluationPrograms_Master.csv')

In [6]:
df.head()

,customer,instance_id,dataset_id,dataset_name,user_id,user_email,user_displayName,pdp_name,pdp_filter_group_id,pdp_data_source_permission,pdp_value,pdp_applied_on,pdp_filter_name
0,Novartis,edcast-574,5242c432-3861-4818-a61f-3531070b442e,EvaluationPrograms_Master,1896245152,patrick.silvey@novartis.com,Patrick Silvey,Training Director,1485,False,Patrick Silvey,COLUMN,Training Director
1,Novartis,edcast-574,5242c432-3861-4818-a61f-3531070b442e,EvaluationPrograms_Master,1365259109,jimmy.long@novartis.com,Jimmy Long II,Trainer - Jimmy Long,1486,False,Jimmy Long,COLUMN,Trainer Name Updated
2,Novartis,edcast-574,5242c432-3861-4818-a61f-3531070b442e,EvaluationPrograms_Master,225510140,jenna.mathes@novartis.com,Jenna Mathes,Trainer-JennaMathes,1491,False,Jenna Mathes,COLUMN,Trainer Name Updated
3,Novartis,edcast-574,5242c432-3861-4818-a61f-3531070b442e,EvaluationPrograms_Master,415170185,alison.pulte@novartis.com,Alison Pulte,Foundational,1493,False,Foundational Leadership,COLUMN,Training Name
4,Novartis,edcast-574,5242c432-3861-4818-a61f-3531070b442e,EvaluationPrograms_Master,1161217516,neill.moynihan@novartis.com,Neill Moynihan,Foundational,1493,False,Foundational Leadership,COLUMN,Training Name

In [89]:
i_df = df[df['user_email'] == 'tyler.newcomb@novartis.com']

In [90]:
i_df.pivot(columns=['user_displayName','pdp_filter_name'],values='pdp_value')

user_displayName        Tyler Newcomb
pdp_filter_name  Trainer Name Updated
24                      Tyler Newcomb

In [35]:
df1 = pd.read_csv('../pdp_filter_Novartis_edcast-574_Evaluations_Test.csv')

In [36]:
df1.head()

,customer,instance_id,dataset_id,dataset_name,user_id,user_email,user_displayName,pdp_name,pdp_filter_group_id,pdp_data_source_permission,pdp_value,pdp_applied_on,pdp_filter_name
0,Novartis,edcast-574,ca38f90e-66c4-413e-8752-355d93837144,Evaluations_Test,1896245152,patrick.silvey@novartis.com,Patrick Silvey,Training Director,1480,False,Patrick Silvey,COLUMN,Training Director
1,Novartis,edcast-574,ca38f90e-66c4-413e-8752-355d93837144,Evaluations_Test,1365259109,jimmy.long@novartis.com,Jimmy Long II,Trainer - Jimmy Long,1484,False,Jimmy Long,COLUMN,Trainer Name Updated
2,Novartis,edcast-574,ca38f90e-66c4-413e-8752-355d93837144,Evaluations_Test,225510140,jenna.mathes@novartis.com,Jenna Mathes,Trainer-Jenna Mathes,1490,False,Jenna Mathes,COLUMN,Trainer Name Updated
3,Novartis,edcast-574,ca38f90e-66c4-413e-8752-355d93837144,Evaluations_Test,415170185,alison.pulte@novartis.com,Alison Pulte,Foundational,1492,False,Foundational Leadership,COLUMN,Training Name
4,Novartis,edcast-574,ca38f90e-66c4-413e-8752-355d93837144,Evaluations_Test,1161217516,neill.moynihan@novartis.com,Neill Moynihan,Foundational,1492,False,Foundational Leadership,COLUMN,Training Name

In [37]:
i_df1 = df1[df1['user_displayName'] == 'Patrick Silvey']

In [38]:
i_df1.pivot(columns=['user_displayName','pdp_filter_name'],values='pdp_value')

user_displayName    Patrick Silvey
pdp_filter_name  Training Director
0                   Patrick Silvey

In [40]:
df1.pdp_filter_name.unique()

array(['Training Director', 'Trainer Name Updated', 'Training Name',
       'Training Lead'], dtype=object)

In [41]:
df2 = pd.read_csv('../pdp_filter_Novartis_edcast-574_Evaluation_Programs_ConsolidatedMaster.csv')

In [43]:
df2.head()

,customer,instance_id,dataset_id,dataset_name,user_id,user_email,user_displayName,pdp_name,pdp_filter_group_id,pdp_data_source_permission,pdp_value,pdp_applied_on,pdp_filter_name
0,Novartis,edcast-574,8de71efb-af96-434c-958d-e194efb4628e,Evaluation_Programs_ConsolidatedMaster,1478061859,paul.silverman@novartis.com,Paul Silverman,TD- PaulSilverman,1563,False,Paul Silverman,COLUMN,Training Director
1,Novartis,edcast-574,8de71efb-af96-434c-958d-e194efb4628e,Evaluation_Programs_ConsolidatedMaster,1896245152,patrick.silvey@novartis.com,Patrick Silvey,TD- PatrickSilvey,1564,False,Patrick Silvey,COLUMN,Training Director
2,Novartis,edcast-574,8de71efb-af96-434c-958d-e194efb4628e,Evaluation_Programs_ConsolidatedMaster,1678811529,darby.adolphsen@novartis.com,Darby Adolphsen,TD- Darby,1565,False,Darby Adolphsen,COLUMN,Training Director
3,Novartis,edcast-574,8de71efb-af96-434c-958d-e194efb4628e,Evaluation_Programs_ConsolidatedMaster,694006611,jim-1.page@novartis.com,Jim Page,TD- JimPage,1566,False,Jim Page,COLUMN,Training Director
4,Novartis,edcast-574,8de71efb-af96-434c-958d-e194efb4628e,Evaluation_Programs_ConsolidatedMaster,496550155,tate.zachmeyer@novartis.com,Tate Zachmeyer,TL- TateZach,1567,False,Tate Zachmeyer,COLUMN,Training Lead

In [44]:
df2.pdp_filter_name.unique()

array(['Training Director', 'Training Lead', 'Training Name'],
      dtype=object)